.aardvark {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    vertical-align: middle;
    background: yellow;
    font-size: 3em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.more {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.more a {
    border: 1px solid #fff;
    background: rgb(16, 123, 137);
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin-bottom:.5em;
}
